<h2 class="text-center"><strong>Listado de productos</strong></h2>

{{#if productos}}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Ítem</th>
                <th class="text-center">Producto</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Imagen</th>
            </tr>
        </thead>
        <tbody>
            {{#each productos}}
            <tr>
                <th class="text-center text-secondary"> {{this.id}} </th>
                <th class="text-center text-secondary"> {{this.title}} </th>
                <th class="text-center text-secondary"> {{this.price}} </th>
                <th class="text-center text-secondary"><img width="40" height="40" src={{this.thumbnail}} /></th>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button type="info" class="btn btn-info"><a href="/" class="text-decoration-none text-white">Volver al formulario</a></button>
</div>
{{else}}
    <h3 class="alert alert-danger">No hay productos</h3>
{{/if}}